* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    margin: 0px auto;
    font-family: 'sans-serif';
    font-size: 12px;
    color: #f0f0f0;
    width: 100%;
}

div#login {
    padding: 25px 22px;
    background: #6fafa4; /* Old browsers */
    background: -moz-linear-gradient(top, #6fafa4 0%, #a9c6c1 50%, #6fafa4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fafa4), color-stop(50%,#a9c6c1), color-stop(100%,#6fafa4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6fafa4 0%,#a9c6c1 50%,#6fafa4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6fafa4 0%,#a9c6c1 50%,#6fafa4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6fafa4 0%,#a9c6c1 50%,#6fafa4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6fafa4 0%,#a9c6c1 50%,#6fafa4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fafa4', endColorstr='#6fafa4',GradientType=0 ); /* IE6-9 */
    height: 100%;
    border: 2px solid #02735f;
}

header {
    height: 98px;
    background: #02735f; /* Old browsers */
    background: -moz-linear-gradient(top, #02735f 0%, #318271 50%, #02735f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02735f), color-stop(50%,#318271), color-stop(100%,#02735f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #02735f 0%,#318271 50%,#02735f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #02735f 0%,#318271 50%,#02735f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #02735f 0%,#318271 50%,#02735f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #02735f 0%,#318271 50%,#02735f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02735f', endColorstr='#02735f',GradientType=0 ); /* IE6-9 */
    border: 2px solid #02735f;
}

header h1 {
    font-size: 25px;
    top: 35%;
    text-align: center;
    position: relative;
}

header img {
    float: left;
    margin: 5px;
}

main {
   height: 325px;
}

div#content-login {
    background-color: #fcfcfc;
    color: #111;
    min-height: 130px;
    position: relative;
    width: 300px;
    top: 45%;
    margin: auto;
    border: 2px solid #02735f;
    border-radius: 7px;
    text-align: center;
    padding: 10px;
}

div#content-login #title {
    font-weight: bold;
}
div#content-login label {
    width:100%;
    display: block;
    padding:5px 0 5px 0;
}

div#content-login label span {
    display: block;
    float:left;
    width:60px;
    text-align:right;
    padding:5px;
}

div#content-login input#login{
    border: 1px solid #555;
    padding:2px 2px;
    width: 208px;
}

div#content-login input#password{
    border: 1px solid #555;
    padding:2px 2px;
    width: 160px;
}

div#content-login input#submit{
    border: 2px solid #02735f;
    font-weight: bold;
    color: #fff;
    background: #02735f; /* Old browsers */
    background: -moz-linear-gradient(top, #02735f 0%, #318271 50%, #02735f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02735f), color-stop(50%,#318271), color-stop(100%,#02735f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #02735f 0%,#318271 50%,#02735f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #02735f 0%,#318271 50%,#02735f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #02735f 0%,#318271 50%,#02735f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #02735f 0%,#318271 50%,#02735f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02735f', endColorstr='#02735f',GradientType=0 ); /* IE6-9 */
}

div#content-login .error-login {
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f33
}


