* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 750px;
    max-width: 1000px;
    margin: 0px auto;
    font-family: 'Indie Flower', cursive;
    border: 2px solid #02735f;
    font-size: 12px;
}

header {
    color: #f0f0f0;
    height: 120px;
    background: rgba(99,169,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(99,169,156,1)), color-stop(100%, rgba(36,133,115,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: radial-gradient(ellipse at center, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a99c', endColorstr='#248573', GradientType=1 );
}


footer {
    color: #f0f0f0;
    height: 50px;
	margin-top:30px;
    background: rgba(99,169,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(99,169,156,1)), color-stop(100%, rgba(36,133,115,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: radial-gradient(ellipse at center, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a99c', endColorstr='#248573', GradientType=1 );
}

header h1 {
    font-size: 25px;
    text-align: center;
    top: 35%;
    position: relative;
}

header h4 {
    font-size: 16px;
    top: 50%;
    text-align: right;
    margin-right: 40px;
    position: relative;
    font-weight: normal;
	
}
header h4 span#username{

text-transform: uppercase;
}
header #user-icon {
    float: right;
    margin-top: 30px;
    margin-right: 5px;
}

/* MENU*/

#sub
{
    margin-right: 20px; /*anterior: 20*/
    display: none;
	
}

#sub a
{
    height: 100px;
	color: azure;
	width:100%;/*10%*/
}

#menu-nav li:hover > #sub
{
    display: block;
	height: 100%;	
	width: 100%;/*20%*/
	   
}

#sub a:hover
{
    /*border-bottom: 100px solid black;*/
	width: 160%;
	text-align: center;

}

#opc a:hover
{    width: 55%; /* antes: 10*/
     /*border-bottom: 3px solid rgba(0, 0, 0, .9);*/
	 	 
}

#opc ul li {
    display: inline;
    float: left;
    border: 2px solid #fff;
	 width: 160%;/*20%*/
	 height: 40px;
    border-radius: 5px 5px 0px 0px;
    background-color: #358F7F;
    margin-top: auto; /*20px*/
    margin-left: auto;/*15px*/
}

#opc ul li a {
    display: block;
    padding: 7px;/*25px*/
    text-decoration: none;
	text-align: center;
    color: #f0f0f0;
}

nav {
    text-align: center;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
}

nav ul {
    list-style: none;
    height: 50px;
    width: 55%;
    margin: 0px auto;
}

nav ul li {
    display: inline;
    float: left;
    border: 2px solid #fff;
	 width: 20%;
    border-radius: 5px 5px 0px 0px;
    background-color: #358F7F;
    margin-top: 20px;
    margin-left: 15px;
}

nav ul li a {
    display: block;
    padding: 7px 25px;/*25px*/
    text-decoration: none;
	text-align: center;
    color: #f0f0f0;
}

#logout {
    float: right;
    text-decoration: none;
    color: #333;
    margin: 30px 10px 0px 0px;
    font-weight: bold;
}

aside {
    min-height: 300px;
    width: 13%;
    margin: 10px;
}

aside ul {
    list-style: none;
	margin-top:190px;
}

aside ul li {
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
    font-size: 14px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
}

aside ul li a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #333;
}

main {
    min-height: 300px;
    margin: 10px;
    padding: 0px;
    float: right;
    border: 2px solid #02735f;
    border-radius: 5px;
    width: 82%;
}

main#welcome {
    color: #333;
    text-align: center;
    padding-top: 5%;
}

#clear {
    clear: both;
}

/* ================ USERS LIST WINDOW=======================*/
  


div#users-list{

margin-left:5px;

}
div#list{

    min-height: 300px;
    margin-left: 20px;
	margin-top:8%;
	margin-bottom:20px;
    padding: 0px;
    float: center;
    border: 2px solid #02735f;
    border-radius: 5px;
    width: 95%;
}
div#users-list input#new{
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    margin: 10px 0px 15px 0px;
    font-size: 18px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
    margin-left: 290px;
	font-family: 'Indie Flower', cursive;
}
div#users-list input#update{
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    margin: 10px 0px 15px 0px;
    font-size: 18px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
    margin-left: 20px;
	font-family: 'Indie Flower', cursive;
}
div#users-list input#close{
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    margin: 10px 0px 15px 0px;
    font-size: 18px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
    margin-left: 20px;
	font-family: 'Indie Flower', cursive;
}

div#filter-left{

    min-height: 60px;
    margin-left: 20px;
	margin-top:5%;
    border: 2px solid #02735f;
    border-radius: 5px;
    width:15%;
}
div#filter-left form{
 margin-top:10px;
 font-size:14px;
 font-family: 'Indie Flower', cursive;
 font-weight: bold;
 }
 div#filter-left label{
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
    margin-left:13px;
	
	}

table, th, td {
   border: 1px solid #02735f;
   }
th{

    height: 30px;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
td,tr{
height: 20px;

}
div#search{

    min-height: 100px;
    margin-left: 220px;
	margin-top:-140px;
    border: 2px solid #02735f;
    border-radius: 5px;
    width:60%;




}
div#seach_name{

border: 5px solid #02735f;

}


header#search{

    color: #f0f0f0;
    height: 25px;
    background: rgba(99,169,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(99,169,156,1)), color-stop(100%, rgba(36,133,115,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: radial-gradient(ellipse at center, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a99c', endColorstr='#248573', GradientType=1 );


}

 header h1#filter{
 
    font-size: 18px;
    text-align: center;
    top: 16%;
    position: relative;
	color:black;
 
 }
header#left{

    color: #f0f0f0;
    height: 25px;
    background: rgba(99,169,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(99,169,156,1)), color-stop(100%, rgba(36,133,115,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: radial-gradient(ellipse at center, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a99c', endColorstr='#248573', GradientType=1 );


}

 header h1#filter_per{
 
    font-size: 18px;
    text-align: center;
    top: 16%;
    position: relative;
    color:black;
 }

div#search form#name{
margin-left:25%;
margin-top:4%;
border-radius: 5px;
font-weight: bold;

}
div#search input#camp{
border: 1px solid #02735f;

}
div#search input#filter_bottom{
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    margin: 8px 0px 8px 0px;
    font-size: 12px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
    margin-left: 10px;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}
div#search input#show_all{
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    margin: 8px 0px 8px 0px;
    font-size: 12px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );	
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}

h1#adduser{
 
    font-size: 18px;
    text-align: center;
    top: 16%;
    position: relative;
	color:black;
    height: 25px;
    background: rgba(99,169,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(99,169,156,1)), color-stop(100%, rgba(36,133,115,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: radial-gradient(ellipse at center, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a99c', endColorstr='#248573', GradientType=1 );
 
 }
 
div#add  span#name {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;

}
div#add  span#login {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;

}
div#add  span#password {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;

}
div#add  span#rpassword {
margin-top:5%;
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;

}
div#add  span#perfil {
top:5%;
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;

}
div#add form#add_user{

margin-top:45px;
}
div#add input#record{
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 14px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
    margin-top:80px;
	margin-left:320px;
	font-weight: bold;
}
div#add input#close{
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 14px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
    margin-top:80px;
	margin-left:10px;
	font-weight: bold;
}
div#add label#rpassword{

margin-top:10px;

}
div#add input#login {
border: 1px solid #02735f;
}
div#add input#name {

border: 1px solid #02735f;
}

div#add input#password{

border: 1px solid #02735f;
}
div#add input#rpassword{

border: 1px solid #02735f;
}
div#add select#profile{

border: 1px solid #02735f;
}

/*======= List Client Window ===================*/ 

h1#addclient{
 
    font-size: 18px;
    text-align: center;
    top: 16%;
    position: relative;
	color:black;
    height: 25px;
    background: rgba(99,169,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(99,169,156,1)), color-stop(100%, rgba(36,133,115,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: radial-gradient(ellipse at center, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a99c', endColorstr='#248573', GradientType=1 );
 
 }
 
 h1#client{
 
    font-size: 18px;
    text-align: center;
    top: 16%;
    position: relative;
	color:black;
    height: 25px;
    background: rgba(99,169,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(99,169,156,1)), color-stop(100%, rgba(36,133,115,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: radial-gradient(ellipse at center, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a99c', endColorstr='#248573', GradientType=1 );
 
 }
div#add form#add_client{

margin-top:45px;
}

div#add  span#name_client {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#namecli {
border: 1px solid #02735f;
}

div#add  span#cpf_cli {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#clicpf {
border: 1px solid #02735f;
}

div#add  span#cli_phone {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#phoneclient{
border: 1px solid #02735f;
}

div#add  span#street_cli {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#streetclient{
border: 1px solid #02735f;
}

div#add  span#mother_name {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#mothername{
border: 1px solid #02735f;
}

div#add  span#state {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add select#state_list{
border: 1px solid #02735f;
}

div#add  span#city_client {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#city{
border: 1px solid #02735f;
}

div#add  span#email_client {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#email{
border: 1px solid #02735f;
}

div#add input#save{
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 14px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
    margin-top:80px;
	margin-left:320px;
	font-weight: bold;
}

div#list-client{

    min-height: 300px;
    margin-left: 20px;
	margin-top:8%;
	margin-bottom:20px;
    padding: 0px;
    float: center;
    border: 2px solid #02735f;
    border-radius: 5px;
    width: 95%;
}

/*======= List Product Window ===================*/ 


h1#addproduto{
 
    font-size: 18px;
    text-align: center;
    top: 16%;
    position: relative;
	color:black;
    height: 25px;
    background: rgba(99,169,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(99,169,156,1)), color-stop(100%, rgba(36,133,115,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: radial-gradient(ellipse at center, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a99c', endColorstr='#248573', GradientType=1 );
 
 }
 
 h1#produto{
 
    font-size: 18px;
    text-align: center;
    top: 16%;
    position: relative;
	color:black;
    height: 25px;
    background: rgba(99,169,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(99,169,156,1)), color-stop(100%, rgba(36,133,115,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    background: radial-gradient(ellipse at center, rgba(99,169,156,1) 0%, rgba(36,133,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a99c', endColorstr='#248573', GradientType=1 );
 
 }
div#add form#add_prod{

margin-top:45px;
}

div#add  span#cod {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#cod {
border: 1px solid #02735f;
}

div#add  span#desc_prod {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#desc_prod  {
border: 1px solid #02735f;
}

div#add  span#estoq_min{
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#estoq_min{
border: 1px solid #02735f;
}

div#add  span#estoq_max {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#estoq_max{
border: 1px solid #02735f;
}

div#add  span#val_custo {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#val_custo{
border: 1px solid #02735f;
}

div#add  span#val_venda{
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#val_venda{
border: 1px solid #02735f;
}
div#add  span#qtde_prod{
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#qtde_prod{
border: 1px solid #02735f;
}

div#add  span#id_group {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#id_group{
border: 1px solid #02735f;
}

div#add  span#id_familia {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#id_familia{
border: 1px solid #02735f;
}

div#add  span#id_local {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}

div#add input#id_local{
border: 1px solid #02735f;
}

div#add  span#id_fornecedor {
margin-left:5%;
border-radius: 5px;
font-weight: bold;
font-size:18px;
}
div#add input#id_fornecedor{
border: 1px solid #02735f;
}

div#add textarea#textarea{

border: 1px solid #02735f;
}


div#add input#save{
    border: 1px solid #02735f;
    border-radius: 5px;
    background: rgba(237,245,243,1);
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 14px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,245,243,1)), color-stop(100%, rgba(129,185,175,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,245,243,1) 0%, rgba(129,185,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f3', endColorstr='#81b9af', GradientType=1 );
    margin-top:80px;
	margin-left:320px;
	font-weight: bold;
}

div#product-list{

    min-height: 300px;
    margin-left: 20px;
	margin-top:8%;
	margin-bottom:20px;
    padding: 0px;
    float: center;
    border: 2px solid #02735f;
    border-radius: 5px;
    width: 95%;
}

div#list table tbody tr td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
